.loading {
    color: transparent;
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    animation: loading 1.2s ease-in-out infinite;
}
.carousel-caption{
text-shadow:2px 2px 2px white;
    
  backdrop-filter: blur(5px);
}

@keyframes loading {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.white{
    color:white;
}
.card{
    background: linear-gradient(45deg, #0f0f0f 30%, #2c2c2c 50%, #0e0d0d 70%);
   color: whitesmoke;
}
.card:hover{
    animation: loading 1.2s ease-in-out infinite;

}
.col-3>p{
    font-weight: 700;
}
.col-8>p{
    border: 2px solid rgb(160, 157, 157);
    border-radius: 20px;
    text-align: end;
    padding-right: 0.4rem;
   
}
.skillsload1{
    animation: skillsload1 2s normal forwards;
    color: #e0e0e0;
}
@keyframes skillsload1{
    0%{
        width: 0%;
        background-color: black;
    }
   
    100%{
        width: 90%;
        background-color: black;
    }
}
.skillsload2{
    animation: skillsload2 2s normal forwards;
    color: #e0e0e0;
}
@keyframes skillsload2{
    0%{
        width: 0%;
        background-color: black;
    }
   
    100%{
        width: 80%;
        background-color: black;
    }
}
.skillsload4{
    animation: skillsload4 2s normal forwards;
    color: #e0e0e0;
}
@keyframes skillsload4{
    0%{
        width: 0%;
        background-color: black;
    }
   
    100%{
        width: 50%;
        background-color: black;
    }
}
.skillsload3{
    animation: skillsload3 2s normal forwards;
    color: #e0e0e0;
}
@keyframes skillsload3{
    0%{
        width: 0%;
        background-color: black;
    }
   
    100%{
        width: 60%;
        background-color: black;
    }
}
*{
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand{
    border-left: 0.5rem solid rgb(202, 40, 81);
    padding-left: 1rem;
}
.activenav{
    background-color: rgb(218, 44, 93);
    border-radius: 0.2rem;
    
}
.x{
    background-color: rgba(11, 11, 11, 0.403);
}
h2{
     border-radius: 0.5rem;
}
h3>span{
    border-left: 0.1rem solid white;
    border-right: 0.1rem solid white;
    border-radius: 0%;
}
h2{
    background-color: rgb(180, 29, 67);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);
-moz-box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);
box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);
}
.navbar-brand:hover{
    padding-right: 2%;
    
    -webkit-box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);
-moz-box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);
box-shadow: 0px 0px 40px 0px rgba(227,34,66,1);

}
h1>span{
    color: #b3244f;
   
}
.icons{
    color: #ffffff;
    font-size: xx-large;
    
}
i{
    color:#b3244f;
    margin: 2%;
    padding: 1%;
    border-radius: 10px;
}
.row>.icons>p:hover{
    color:#b3244f;
}
table{
    border: 1px solid black;
}
.nav-item:hover ::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0%;
    background-color: rgb(218, 44, 93);
    color: azure;
    border-radius: 100px;
   animation: move 2s forwards infinite; 
  }
  
  
  
  @keyframes move{
    0%{
      left: 50%;
      width: 0%;
    }
    50%{
      left: 0%;
    width: 100%;
    }
    100%{
      left: 50%;
      width: 0%;
    }
  }
